/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

 .CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 20%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
  
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}




body {
  background-image: url("images/jordan-sanchez-GXV2uVv1DrE-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.counter {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  /* background-color: #8ab446; */
  color: white;
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 3em;
  line-height: 0em;
}

h1 { 
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  text-align: left;
}

.title {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  color: white;
  padding-left: 2em;
}

.dateTime {
  /* background-color: #8ab446; */
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  color: white;
  padding-left: 3em;
}

.graph {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  color: #8ab446;
  padding-top: 1em;
}
.challenge {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  color: #8ab446;
  text-align: center;
  font-size: 2.5em;
  font-weight: 100;
  white-space: pre-wrap;
}

.tipHint {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  color: #8ab446;
  text-align: left;
  padding-left: 3em;
}

.tipHintMobile {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  color: #8ab446;
  text-align: left;
  padding-left: 2em;
  padding-top: 3em;
}

.boxForButtons {
  background-color: white;
}

.acceptButton {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  color: #8ab446;
  padding-left: 11em;
}
.tryAnother {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  color: #8ab446;
  text-align: left;
}

.footer {
  /* background-color: #8ab446; */
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  color: white;
  text-align: left;
  padding-top: 3em;
  padding-left: 2em;
  padding-bottom: 2em;
}

/* .red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: rgb(223, 182, 3);
}

.pink {
  background-color: pink;
}

.grey {
  background-color: grey;
}

.orange {
  background-color: rgb(255, 136, 0);
}

.purple {
  background-color: purple;
} */