.CircularProgressbar {
  width: 275px;
  vertical-align: middle; 
  
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #8ab446;
  stroke-linecap: butt;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: rgb(255, 255, 255, 0.3);
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: white;
  font-size: 10px;
  text-anchor: middle;
  white-space: pre-wrap;
  line-break: break-spaces;
}

body {
  background-color: #8ab446;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.container-fluid {
  background-image: url("images/jordan-sanchez-GXV2uVv1DrE-unsplash.jpg");
  background-color: #8ab446;
}

.counter {
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  line-height: 1.2em;
  padding-left: 1.5em;
  padding-top: 1.7em;
}

h1 { 
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  color: white;
  line-height: 1em;
  text-align: left;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.title {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  padding-left: 1em;
  background-color: rgb(255, 255, 255, 0.3);
}

.dateTime {
  background-color: rgb(255, 255, 255, 0.3);
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2em;
  color: white;
  padding-top: 0.8em;
  white-space: pre-wrap;
}

.graph {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  margin-top: -2.6em;
}
.challenge {  
  font-family: 'Heebo', sans-serif;
  color: white;
  background-color: transparent;
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  white-space: pre-wrap;
}

.tipHint {
  background-color: rgb(255, 255, 255, 0.2);
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.tipHintMobile {
  background-color: rgb(255, 255, 255, 0.2);
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.boxForButtons {
  width: fit-content;
  background-color: transparent;
}

.leftButtonBox {
  background-color: transparent;
  text-align: right; 
  padding: 10px; 
}

.rightButtonBox { 
  background-color: transparent;
  text-align: left;
  padding: 10px;
}

.tryAnother {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  font-family: 'Heebo', sans-serif;
  color: white;
  margin-top: -1em;
}

.tryAnother:hover {
  background-color: #8ab446;
  color: white;
  text-decoration: none;
  border-style: none;
}

.accept {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  font-family: 'Heebo', sans-serif;
  color: white;
  margin-top: -1em;
}

.accept:hover {
  background-color: #8ab446;
  color: white;
  text-decoration: none;
  border-style: none;
}

.themesButton {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  font-family: 'Heebo', sans-serif;
  color: white;
  margin-left: -3em;
  margin-top: -0.5em;
}

.themesButton:hover {
  background-color: white;
  color: #8ab446;
  text-decoration: none;
  border-style: none;
}

.closeModalButton {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-align: center;
}

.closeModalButton:hover {
  background-color: white;
  color: #8ab446;
  text-decoration: none;
  border-style: none;
}

.footer {
  background-color: #8ab446;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  color: white;
  line-height: 1em;
  text-align: left;
  padding-top: 1.7em;
  padding-left: 1em;
  padding-bottom: 1.1em;
}

.background {
  background-color: white;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 8px;
  background-color: #8ab446;
  max-height: 100vh;
  overflow-y: auto;
  outline:none!important
}

.ModalTitle {
  font-family: 'Heebo', sans-serif;
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  white-space: pre-wrap;
  margin-top: 0.5em;
  margin-left: 1em;
}

.ModalText {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  white-space: pre-wrap;
  padding-bottom: 1em;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

/* close button styling for modal - class name needs to stay as close because it's modifying Bootstrap code*/
.close {
  font-size: 2em;
  font-weight: 400;
  color: white;
  text-shadow: none;
  opacity: 1;
  margin-right: 1em;
  margin-top: 0em;
}

.close:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}