.CircularProgressbar {
  width: 400px;
  vertical-align: middle; 
  fill: #6fb98f;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #ffd800;
  stroke-linecap: butt;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #6fb98f;;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #ffd800;
  font-size: 10px;
  text-anchor: middle;
  white-space: pre-wrap;
  line-break: break-spaces;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #6fb98f;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

body {
  /* background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print"); */
  background-color: #004445;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.container-fluid {
  background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print");
  background-color: #004445;
}

.counter {
  /* background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print"); */
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  /* background-color: #8ab446; */
  /* color: #004445; */
  color: yellow;
  padding-left: 2em;
  padding-bottom: 3em;
  line-height: 0em;
  margin-top: 10px;
}

h1 { 
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

.title {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  color: #ffd800;
  padding-left: 1em;
  background-color: transparent;
}

.dateTime {
  background-color: transparent;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  color: #ffd800;;
  padding-top: 3em;
  padding-left: 1em;
  padding-bottom: 1em;
  white-space: pre-wrap;
}

.graph {
  /* background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print"); */
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  color: #2c7873;
  padding-top: 0.5em;
}
.challenge {
  /* background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print"); */
  font-family: 'Heebo', sans-serif;
  color: #ffd800;
  background-color: #004445;
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  white-space: pre-wrap;
}

.tipHint {
  background-color: #ffd800;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  color: #2c7873;
  text-align: left;
  padding-left: 3em;
}

.tipHintMobile {
  background-color: #ffd800;
  font-family: 'Heebo', sans-serif;
  color: #2c7873;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.boxForButtons {
  background-color: transparent;
}

.acceptButton {
  /* background-color: #004445; */
  font-family: 'Heebo', sans-serif;
  color: #004445;
  padding-left: 11em;
}
.tryAnother {
  background-color: transparent;
  font-family: 'Heebo', sans-serif;
  color: #2c7873;
  text-align: left;
}

.footer {
  /* background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print"); */
  background-color: #004445;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  color: #ffd800;
  text-align: left;
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 2em;
}

/* .red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: rgb(223, 182, 3);
}

.pink {
  background-color: pink;
}

.grey {
  background-color: grey;
}

.orange {
  background-color: rgb(255, 136, 0);
}

.purple {
  background-color: purple;
} */