.CircularProgressbar {
    width: 400px;
    vertical-align: middle; 
    fill:;
  }
  
  .CircularProgressbar .CircularProgressbar-path {
    stroke: white;
    stroke-linecap: butt;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  
  .CircularProgressbar .CircularProgressbar-trail {
    stroke: transparent;
    /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
    stroke-linecap: round;
  }
  
  .CircularProgressbar .CircularProgressbar-text {
    fill: white;
    font-size: 10px;
    text-anchor: middle;
    white-space: pre-wrap;
    line-break: break-spaces;
  }
  
  body {
    background-color: #001c1d;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
  }
  
  .container-fluid {
    background-color: #001c1d;
  }
  
  .counter {
    /* background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print"); */
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    /* background-color: #8ab446; */
    /* color: #001c1d; */
    color: white;
    padding-left: 2em;
    padding-bottom: 3em;
    line-height: 0em;
    margin-top: 10px;
  }
  
  h1 { 
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: white;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
  
  }
  
  .title {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    padding-left: 1em;
    background-color: rgb(128, 128, 128, 0.6);
  }
  
  .dateTime {
    background-color: transparent;
    font-family: 'Heebo', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: white;;
    padding-top: 2.4em;
    padding-left: 1em;
    padding-bottom: 1em;
    white-space: pre-wrap;
  }
  
  .graph {
    /* background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print"); */
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    color: #2c7873;
    padding-top: 0.5em;
  }
  
  .challenge {
    /* background-image: url("https://www.eea.europa.eu/themes/waste/resource-efficiency/the-plastic-waste-trade-in/image_print"); */
    font-family: 'Heebo', sans-serif;
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    white-space: pre-wrap;
  }
  
  .tipHint {
    background-color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    color: #2c7873;
    text-align: left;
    padding-left: 1em;
  }
  
  .tipHintMobile {
    background-color: white;
    font-family: 'Heebo', sans-serif;
    color: #2c7873;
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .boxForButtons {
    width: fit-content;
    background-color: transparent;
  }
  
  .leftButtonBox {
    background-color: transparent;
    text-align: right; 
    padding: 10px; 
  }
  
  .rightButtonBox { 
    background-color: transparent;
    text-align: left;
    padding: 10px;
  }
  
  .tryAnother {
    background-color: white;
  }
  
  .accept {
    background-color: white
  }

  .themesButton {
    background-color: white;
  }
  
  /* border: none;
    
    display: inline-block;
    font-size:;
    margin:; */
  
  .footer {
    background-color: transparent;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    color: white;
    text-align: left;
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 2em;
  }
  
  /* .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: rgb(223, 182, 3);
  }
  
  .pink {
    background-color: pink;
  }
  
  .grey {
    background-color: grey;
  }
  
  .orange {
    background-color: rgb(255, 136, 0);
  }
  
  .purple {
    background-color: purple;
  } */